/* parent of cards and map */
.main-container {
	display: flex;
}

#map {
	height: 100vh;
	position: sticky;
	top: 0;
}

.cards {
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	flex-grow: 1;
}